.Weather {
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: #000000d0;
  max-width: 860px;
  margin: 30px auto;
}
.Weather .float-left {
  padding: 10px 5px 5px;
}
.Weather .overview {
  margin-bottom: 20px;
}

.Weather .form-control,
.btn {
  border-radius: 25px;
}

.Weather .weather-temperature .temperature {
  color: white;
  font-size: 62px;
  line-height: 1;
  font-weight: 400;
  padding: 15px;
}
.Weather .weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -34px;
}
.Weather .WeatherInfo {
  padding-bottom: 150px;
}
.Weather .WeatherForcast,
.forecastDay {
  background: #000000d0;
  color: white;
  border-radius: 10px;
}
